# Python cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
_build/
ligotools.egg-info/

# Outputs
figures/*
audio/*
*.wav
*.png
*.json
data/
audio/
figures/
.ipynb_checkpoints/
*.wav
*.png
audio/
figures/
.ipynb_checkpoints/
